
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

body {
  padding: 0;
  margin: 0;
  color: #fff;
}

* {
  font-family: 'Pretendard', 'Inter', 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

:root {
  background-color: #27272a;
}